  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
  }

  .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
  }

  .navbar ul li .anchor-link::after,
  .navbar ul li .anchor-link::before{
    transition: all .5s;
  }

  .navbar ul li .anchor-link{
    position: relative;
  }

  .navbar ul li .anchor-link::after{
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: linear-gradient(267deg, red 0.102%, #000000 102.06%);
  height: 1px;
  }

  .navbar ul li .anchor-link:hover:after{
    width: 100%;
  }

  .nav-connect{
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, red 0.102%, #000000 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-connect a{
    text-decoration: none;
    color: white;
  }

  .nav-connect:hover{
    background: linear-gradient(267deg, #000000 0.102%,  red 102.6%);
    scale: 1.05;
  }

  .nav-connect a:hover{
    text-decoration: none;
    color: white;
  }

  .anchor-link{
    text-decoration: none;
    color: white;
  }

  .nav-mob-close{
    display: none;
  }

  .nav-mob-open{
    display: none;
  }

  @media (max-width: 768px){
    .navbar .logo{
      width: 100px;
    }

    .navbar{
      margin: 20px 50px;
    }

    .nav-connect{
      display: none;
    }

    .nav-mob-open{
      width: 30px;
      display: block;
      position: fixed;
      right: 30px;
      cursor: pointer;
    }

    .nav-mob-close{
      display: block;
      position: relative;
      top: 30px;
      left: 290px;
      width: 30px;
      cursor: pointer;
    }

    .nav-menu{
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 30px;
      background-color: rgb(48, 47, 47);
      width: 350px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s; 
      right: -350px;
    }

    .nav-menu li{
      font-size: 30px;
      padding-left: 100px;
      flex-direction: row;
      gap: 20px;
    }

  }

  @media (max-width:480px) {
    .navbar .logo{
      width: 100px;
    }

    .navbar{
      margin: 10px 40px;
    }

    .nav-connect{
      display: none;
    }

    .nav-mob-open{
      width: 30px;
      display: block;
      position: sticky;
      right: 30px;
    }

    .nav-mob-close{
      display: block;
      position: relative;
      top: 30px;
      left: 250px;
      width: 30px;
    }

    .nav-menu{
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 30px;
      background-color: rgb(55, 5, 5);
      width: 350px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s; 
      right: -350px;
    }

    .nav-menu li{
      font-size: 30px;
      padding-left: 100px;
      flex-direction: row;
      gap: 20px;
    }

    .anchor-link{
      font-size: 20px;
    }

  }